body {
	
	padding: 0;
	margin:0;
}
div{
	box-sizing: border-box;
}
p{
	font-size: 15px;
	color: #999999;
	line-height: 1.5em;
}
header {
	background-image:linear-gradient(rgba(243,129,129,0.9),rgba(252,227,138,0.9)), url(../img/bg_header.jpg) ;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: white;
}
hr{
	color: #999;
}
.container {
	max-width:1200px;
	margin: 0 auto ;
}
header .container{
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	

}
.header_top{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 30px;
}
.logo{
	font-family:'Montserrat', sans-serif;
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.menu{
	display: flex;
	width: 60%;
	justify-content: space-between;
	flex-direction: row;
	
}
.menu_nav{
	display: flex;
	justify-content: space-between;
	width: 80%;
	box-sizing: border-box;

}
.menu_nav a{
	font-size: 14px;
	font-family:'Montserrat', sans-serif;
	color: #fff;
	padding-bottom: 14px;
	text-decoration: none;
	text-transform: uppercase;
	
}
.menu_nav a:hover{
	color: #fce38a;
	border-bottom: 2px solid #fce38a;
}
.basket{
	width: 17.62px ;
	height: 14.031px ;
	background: url(../img/basket.svg);
}
.search{
    width: 17.62px ;
	height: 17.625px ;
	background: url(../img/search.svg);
}


.header_center{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header_center_h1{
	font-size: 80px;
	font-family:'Montserrat', sans-serif;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin:0;
	padding: 0;
	width: 100%;
	position: relative;
	margin-bottom: 0.833em;
	
}
.header_center_h1:before{
	position: absolute;
	content: '';
	background: #fff;
	width: 60px;
	height: 3px;
	bottom: -0.5em;
	left: 50%;
	transform: translate(-50%, 0);
}
.header_center_h2{
	font-family: 'Kaushan Script', cursive;
	font-size: 41px;
	color: #fff;
	text-align: center;
	line-height: 1.6667em;
	margin:0;
	padding: 0;
}
.learn_more{
	color: #fff;
   background: none;
   border: 	3px solid #fff;
   padding: 1em 2em;
   font-size: 14px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
}
.learn_more:hover{
  border: 	3px solid rgb(243,129,129);
  transition-duration: 0.9s;
  background:  rgb(243,129,129);
}

.header_bottom{
	
	display: flex;
	 justify-content: space-between;
	 width: 100%;
	 		
}

.header_bottom a {
	box-sizing: border-box;
	font-family:'Montserrat', sans-serif;
	color: #fff;
	padding: 25px 0;
	text-decoration: none;
	text-transform: uppercase;
	width: 23.3%;
	font-size: 14px; 
	border-top: 3px solid #fff;	
	position: relative;
}

 .header_bottom a:after{
	position: absolute;
	content: '';
    width: 0;
    height: 3px;
    bottom: 100%;
    left: 0;
    
    -webkit-transition-property: width; Safari
    -webkit-transition-duration: 2s; Safari
    transition-property: width;
    transition-duration: 2s;

} 
.header_bottom a:nth-child(1):after{
	transition-delay: 0s;
}
.header_bottom a:nth-child(2):after{
	transition-delay: 2s;
}
.header_bottom a:nth-child(3):after{
	transition-delay: 4s;
}
.header_bottom a:nth-child(4):after{
	transition-delay: 6s;
}

.header_bottom:hover.header_bottom a:after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #f38181; 
    bottom: 100%;
    left: 0;
    
  }

 .h4_main{
 	
	margin-top: 3.75em;
	margin-bottom: 1em;
	font-size: 24px;
	line-height: 1em;
	color: #333333;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	

}

.h3_main{
	font-size: 30px;
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
	color: #333333;
    text-transform: uppercase;
	text-align: center;	
	line-height: 1em;
	margin-bottom: 3em;
	position:relative;
}
.h3_main:after{

	content: '';
	width: 60px;
	height: 3px;
	background-color: #f38181;
	position:absolute;
	bottom: -1.333em;
	left: 50%;
	transform: translate(-50%, 0);

}
.p_main{
	width: 80%;
	margin:0 auto;
	text-align: center;

}
.media-list{
	margin-bottom: 110px;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	 
}
.media-list-item{
   width: 31%;
   position: relative;
}
.media-list-item__img{
	width: 100%;
	height: auto;
	display: block;
}
.media-list-item__action{
	display: none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.media-list-item--move:hover{
	transform: translate(-10px,-10px);	
}
.media-list-item--shadow:hover{
	box-shadow: 10px 10px rgb(149,225,211);
}
.media-list-item:hover:before{
	height: 100%;
	width: 100%;
	content: "";
	opacity: 0.9;
	background: linear-gradient(#f38181,#fce38a);
	position: absolute;
}
.media-list-item:hover .media-list-item__action{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.media-list__text1{
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}
.media-list__text2{
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	margin: 1.2em 0;
}

.media-list__text3{
	 font-family: 'Roboto', sans-serif;
	 
	font-size: 15px;
	
}

.media-list__action-social{
	display: none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.media-list__action-social-item1{
	
	width: 13px;
	height: 26px;
	background: url(../img/facebook.png);

}
.media-list__action-social-item2{
	width: 26px;
	height: 22px;
	background: url(../img/twitter.png);
}
.media-list__action-social-item3{
	width: 21px;
	height: 26px;
	background: url(../img/pinterest.png);
}
.media-list__action-social-item4{
	width: 26px;
	height: 26px;
	background: url(../img/instagram.png);
}
.media-list__social:hover .media-list__action-social-item1{
	background: url(../img/facebook_a.png);
}
.media-list__social:hover .media-list__action-social-item2{
	background: url(../img/twitter_a.png);
}
.media-list__social:hover .media-list__action-social-item3{
	background: url(../img/pinterest_a.png);
}
.media-list__social:hover .media-list__action-social-item4{
	background: url(../img/instagram_a.png);
}
.media-list-item:hover .media-list__action-social{
	display: flex;
	flex-direction: row;
}

.media-list__social{

	width: 56px;
	height: 56px;
	background: #fce38a;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #f38181;
	
	
}
.media-list__social:first-child{
	border-left: none;
}
.media-list__social:hover{
	background: #f38181;
}

.media-list__social-img{
	display: block;
}

.facts{
	background-color: #95e1d3;

}
.facts__items{
	margin:0;
	display: flex;
	flex-direction: row;
	
}
.facts__item{
	margin:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	padding: 88px 0;
	border-left: 1px solid #fff; 
	font-family:'Montserrat', sans-serif;
	color: #fff;	
}
.facts__item:last-child{
	border-right: 1px solid #fff;
}
.facts__numbers{
	font-size: 72px;
	font-weight: bold;
}
.facts__text{
	font-size: 14px;
	text-transform: uppercase;
}
.services{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 flex-wrap: wrap;
}
.services__item{
	width: 33.33%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding-right: 30px; 
	padding-left: 30px;
	padding-top: 45px;
	}
.services__item:nth-child(n+4){
	border-top: 1px solid #e5e5e5;
}
.services__img{
	margin-top: 20px;
	margin-right: 25px;
}
.services__h3{
 font-family:'Montserrat', sans-serif;
 font-size: 14px;
 color: #333;
 text-transform: uppercase;


}
.services__p{
 font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999;

}
.feauture{
	background-image:linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(../img/what_people_say.jpg) ;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	
	display: flex;
	justify-content: center;

}
.feauture__tablet{
 
 position: relative;
}

.feauture__imgtablet{
	display: block;
}
.feauture__phone{
	display: block;
	position: absolute;
	bottom: -90px;
	left: 100%;
	transform: translate(-50%);
}

.services2{
	margin: 85px 0 120px 0;
	display: flex;
	justify-content: space-between;

}
.services2__item {
  
  width: 45%;
  
}
.services2__img {
	width: 100%;
	height: auto;
}

/* Acordeon styles */
.acordeon-item {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  color: #333;
  overflow: hidden;
}
.acordeon__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 3em;
  background-color: #fff;
  border: 1px solid #999;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
 }
label[for="tab-one"]{
background: url(../img/PICTURE.svg) no-repeat;
background-position: 10px 10px;
}
label[for="tab-two"]{
background: url(../img/EQUALIZER.svg) no-repeat;
background-position: 10px 10px;
}
label[for="tab-three"]{
background: url(../img/BULLSEYE.svg) no-repeat;
background-position: 10px 10px;
}
.acordeon__content {
  max-height: 0;
  overflow: scroll;
  background: #fff;
  border-bottom: 1px solid #999;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}


.acordeon__content::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.acordeon__content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #95e1d3;
}
.acordeon__content p {
  margin: 1em;
}
/* :checked */
input:checked ~ .acordeon__content {
  max-height: 10em;
}
/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "\25BC";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(180deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
.media-list-space-around{
	display: flex;
	justify-content: space-around;
	margin-top: -40px;
	margin-bottom: 40px;
}
.text-type1{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	color: #333333;
	margin-bottom: 1em;
}
.text-type2{
	font-family:'Montserrat', sans-serif;
	font-size: 14px;
	color: #999;
}
.text-type2--color1{
	color: #333;
}
.text-type2--color2{
	color: #f38181;
}
.text-type3{
	font-family:'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #333333;
	margin: 1.4em 0;
}
.text-type3.text-type3__nouppercase{
	text-transform:none;
	font-weight: bold;
}
.text-type4{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999;
  margin: 0 18px 0 5px;
}
.text-type5{
	font-family: 'Roboto', sans-serif;
	 font-size: 13px;
	 color: #999;


}
.text-type6{
	font-family:'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #333333
}
.testimonial{
	background-color:  #efefef;
	padding: 5vh 0;
	
}
.logos{
	display: flex;
	justify-content: space-between;
}
.logos__img{
	display: block;
	width: 14%;
	height: auto;
}
.media{
	display: flex;
    flex-direction: row;
    padding: 0;
    margin-top:100px;
    width: 100%; 
}

.media-list-colomn{
	display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 25%; 
}
.media-list-colomn .media-list-item{
	width: 100%;
}
.people-say{
	background-image:linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(../img/what_people_say1.jpg) ;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 10px;
}
.what-say{
	display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 padding-bottom: 125px;
}
.what-say__item{
	width: 50%;
	margin-top: 60px;
	display: flex;
	padding-right: 30px;
}
.what-say__img{
	margin: 0 40px;
	display: block;
	height: 110px;
	width: 110px;
}
.what-say__text{
	display: flex;
	flex-direction: column;
}
.text-type2--line-botom{
	margin-bottom: 3em;
	position: relative;
}
.text-type2--line-botom:after{
	content: '';
	width: 60px;
	height: 3px;
	background-color: #f38181;
	position: absolute;
	bottom: -1.2em;
	left: 0;
}
.blog-item{
	width: 31%;
	position: relative;
}
.blog-img{
	width: 100%;
	height: auto;
	display: block;
}
.blog-item__img{
	position: relative;
}
.blog-item__img-label{
	position: absolute;
	width: 60px;
	height: 70px;
	background: #95e1d3;
	bottom:10px;
	left:-10px;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.blog-item__img-label-text{
	font-family:'Montserrat', sans-serif;
	font-size: 14px;
}
.blog-item__img-label-text.blog-item__img-label-text--bold{
	font-weight: bold;
	font-size: 27px;
}
.map{
	background-image:linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(../img/map.jpg) ;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.map__img{
	display: block;
}
.map__text{
	font-family:'Montserrat', sans-serif;
	font-size: 24px;
	color: #f38181;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 1em;
	
}
.map__text:after{
	content: '';
	width: 60px;
	height: 3px;
	background: #f38181;
	position: absolute;
	bottom: -1em;
	left: 50%;
	transform: translate(-50%);
}
.subscribe-section{
	width: 39%;
}
.logo.logo--big-type{
	font-size: 46px;
	color: #ccc;
}
.button_subscribe {
   background: #95e1d3;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 14px;
   text-decoration: none;
   text-transform: uppercase;
   margin-left: -5px;
   width: 35%;
   padding: 10px 0;
   border: 1px solid #95e1d3; 
   text-align: center;
}
.button_subscribe:hover {
   background: #fff;
   color: #95e1d3;
   border: 1px solid #95e1d3; 
   
}
.input-email{
	height: 38px;
	width: 50%;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	color: #999;
	font-size: 15px;
	font-style: italic;
	padding-left: 10px;

}
.blogs-list{
	display: flex;
	flex-direction: column;
	width: 30%
}
.blogs-list__item{
	display: flex;
	width: 100%;
	margin:10px 0;

}

.blogs-list__img{
	display: block;
	width: 120px;
	height: 80px;
	margin-right: 15px;
}
.instagram{
	width: 25%;

}
.instagram__items{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.instagram__item{
	width: 32%;
	text-decoration: none;
	margin-bottom: 5px;
}
.instagram__img{
	width: 100%;
	height: auto;
	display: block;
}
.footer_title{
	padding: 25px 0;
	text-align: center;

}